html {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column; }

.padding-left-2 {
  padding-left: 2%; }

.padding-bottom-2 {
  padding-bottom: 2%; }

.container-mod {
  padding: 0; }

.me_navItem {
  display: flex;
  justify-content: flex-end; }

@media screen and (max-width: 990px) {
  .me_navItem {
    justify-content: flex-start; } }

.logo-git {
  height: 40px;
  width: 40px;
  transition: all 0.3s; }
  .logo-git:hover {
    filter: hue-rotate(50deg); }

.logo-bd {
  height: 30px;
  width: 30px; }

.exp_button {
  background: linear-gradient(to right, #808080, #d3d3d3d3);
  border-radius: 100px; }
  .exp_button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px; }

.first-element-container {
  box-shadow: 2px 2px 5px #aaaaaa;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); }

.first-container {
  display: flex;
  align-items: center;
  transform: translateX(50%);
  width: 100px;
  transition: all 0.3s; }

.first-text {
  font-family: "El Messiri", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  animation: text-in 1s ease-out; }
  .first-text-rp-text1 {
    margin: 0;
    padding: 0;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    text-align: center;
    color: #7ef9ff;
    font-size: 30px;
    transform: translateY(-325px);
    letter-spacing: 2px;
    text-shadow: 5px 5px 6px black;
    z-index: 10;
    animation: image-in 0.65s ease-in; }

.img__container {
  position: relative; }
  .img__container__guelph {
    transform: translate(110%, 15%); }
  .img__container__bd {
    transform: translate(55%, 15%); }
  .img__container__me {
    transform: translate(0, 15%); }
  .img__container:hover .intro-img__text {
    opacity: 1; }

.intro-img__text {
  position: absolute;
  top: 35%;
  left: 57%;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in; }
  .intro-img__text--bd {
    left: 53%; }
  .intro-img__text--me {
    left: 50%; }

.intro-img {
  height: 400px;
  width: 400px;
  clip-path: polygon(40% 4.99%, 85% 4.99%, 55% 65%, 10% 65%);
  object-fit: contain;
  object-position: 100% -20%;
  transition: all 0.5s ease-in; }
  .intro-img:hover {
    filter: blur(2px); }

.entireBody h2:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none; }

.footer-nadeem {
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(180deg, #485461, #28313b);
  z-index: 1030;
  color: white;
  text-align: center; }

.footer-container {
  margin: 0;
  display: block; }
  .footer-container > p {
    margin-top: 1rem; }

.container-credits {
  display: flex;
  justify-content: space-between; }

#credits {
  text-decoration: none;
  color: white; }

.EdSection {
  padding-left: 30px;
  border-radius: 2px 1rem; }

#education {
  font-weight: 700; }
  #education:hover {
    text-decoration: none; }

.card__box {
  display: flex;
  justify-content: space-evenly; }
  .card__box--card {
    flex-wrap: wrap;
    max-width: 30%;
    display: inline-block; }

.divider {
  border: 2px solid rgba(15, 2, 2, 0.158); }

.side_projects {
  padding-bottom: 40px; }

.card-img-info {
  width: 120px;
  height: 120px;
  padding: 5% 0 5% 0; }

.center-img {
  text-align: center; }

.padding-down {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px; }

@media screen and (min-width: 1199px) {
  .padding-down {
    padding-top: 15px; } }

.wtr-1 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  transition: all 0.3s; }

.img-cred {
  width: 400px;
  height: 400px; }

.img-rp-introimg {
  width: inherit;
  height: inherit; }

.img-rp-ccslogo {
  width: 170px;
  height: 170px; }

.img-rp-productivity {
  width: 265px;
  height: 265px;
  border-radius: 30%; }

.img-rp-html {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

.img-rp-comms {
  width: 300px;
  height: 300px;
  border-radius: 30%; }

.img-rp-webconf {
  width: 300px;
  height: 300px;
  border-radius: 30%; }

.img-rp-des {
  width: 300px;
  height: 300px;
  border-radius: 30%; }

.img-rp-team {
  width: 400px;
  height: 300px; }

.rp-text-italics {
  font-style: italic; }

.rp-text-1 p {
  display: inline; }

.rp-text-center {
  display: flex;
  align-items: center; }

.rp-text-3 {
  display: flex;
  align-items: center; }
  .rp-text-3-content {
    margin-left: 2%; }

@media screen and (max-width: 425px) {
  .row {
    flex-direction: column-reverse; }
  .first-text-rp-text1 {
    font-size: unset;
    transform: unset; }
  .img-rp-introimg {
    width: inherit;
    height: inherit; }
  .img-rp-ccslogo {
    width: 100px;
    height: 100px;
    display: block; }
  .img-rp-productivity {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .img-rp-html {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .img-rp-comms {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .img-rp-webconf {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .img-rp-des {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .img-rp-team {
    width: 220px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .rp-text-italics {
    font-style: italic; }
  .rp-text-1 p {
    display: inline; }
  .rp-text-center {
    display: flex;
    flex-direction: column-reverse; }
  .rp-text-3 {
    display: flex;
    flex-direction: column; }
    .rp-text-3-content {
      margin-left: 2%; } }

.heading-element {
  position: relative; }
  .heading-element-text {
    background-color: #2ea5a1;
    color: white;
    position: absolute;
    right: 15%;
    top: 20%;
    font-size: 3rem; }

@media screen and (max-width: 490px) {
  .heading-element {
    position: unset; }
    .heading-element-text {
      background-color: #2ea5a1;
      color: white;
      position: unset;
      right: unset;
      top: unset;
      text-align: center; } }

@media screen and (max-width: 1023px) {
  .heading-element-text {
    font-size: 1.5rem; } }

.paragraph {
  margin-top: 2%;
  font-size: 1.25em; }
  .paragraph-center {
    font-style: italic;
    font-size: 1.25em;
    text-align: center; }

.a_me_img {
  width: 300px;
  height: 400px; }

.img-container {
  display: flex;
  align-items: center; }

.teeny {
  width: 600px; }

.project {
  padding-top: 5%;
  align-items: center;
  box-shadow: 2px 2px 5px #aaaaaa; }
  .project p {
    font-size: 1.15rem;
    margin-right: 3%; }

.git-logo {
  width: 40px;
  height: 40px;
  margin-right: 4%;
  transition: all 0.3s; }
  .git-logo:hover {
    filter: invert(50%); }

.link-logo {
  width: 40px;
  height: 40px;
  transition: all 0.3s; }
  .link-logo:hover {
    filter: sepia(70%); }

@keyframes image-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes text-in {
  0% {
    length: 2%;
    transform: translateX(-10%);
    opacity: 0; }
  100% {
    length: 100%;
    transform: translateX(0);
    opacity: 100%; } }
