$space-left: 5%;
$space-right: 4%;

.container-mod {
    padding: 0;
}
.navbar {
    padding-left: $space-left;
    padding-right: $space-right;
}

.entireBody {
    margin-left: $space-left;
    margin-right: $space-right;
    background-color: #b8e1fc;
}

.exp_button {
    background: linear-gradient(to right, #808080, #d3d3d3d3);
    border-radius: 100px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px;
    }
}

.intro_element {
    display: flex;
    &-container {
        &-image {
            display: block;
            height: 70vh;
            width: 50vh;
            background-size: cover;
            text-align: center;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
    }

    &-text {
        margin: auto;
        font-weight: 700;
        &-writing {
            display: block;
            text-decoration: none;
            color: #212529;
            height: 15%;
            transition: all 0.1s;
            &:hover {
                text-decoration: none;
                text-shadow: #ec4d37 0 1px 10px;
                transform: scale(1.03);
            }
        }
    }
}

.newelement2 {
    padding-top: 2rem;
    border-radius: 2px 1rem;
}

#education {
    font-weight: 700;

    &:hover {
        text-decoration: none;
    }
}

div p {
    color: rgb(151, 76, 236);
}

.card__box {
    display: flex;
}
