$space-left: 5%;
$space-right: 4%;
$font-color: rgb(151, 76, 236);

.container-mod {
    padding: 0;
}
.me_navItem {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 768px) {
    .me_navItem {
        justify-content: flex-start;
    }
}
.exp_button {
    background: linear-gradient(to right, #808080, #d3d3d3d3);
    border-radius: 100px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px;
    }
}

.intro_element {
    overflow: hidden;
    max-height: 60vh;
    display: flex;
    // justify-content: space-around;
    transition: all;
    &-img {
        // transform: translateX(-35%);
        height: 70vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        animation: image-in 0.8s ease-in;
        &-image {
            &-guelph {
                transform: translate(82%, 10%);
                clip-path: polygon(40% 4.99%, 85% 4.99%, 55% 65%, 10% 65%);
                object-fit: scale-down;
            }
            &-dhaka {
                transform: translate(23%, -9.8%);
                clip-path: polygon(40% 25%, 85% 25%, 55% 90%, 10% 90%);
                object-fit: none;
            }
            &-me {
                transform: translate(-35%, -15%);
                background-size: cover;
                text-align: center;
                clip-path: polygon(40% 30%, 85% 30%, 55% 90%, 10% 90%);
            }
        }
    }

    &-text {
        display: flex;
        align-items: center;
        max-width: 40vh;

        &-p {
            display: flex;
            flex-wrap: wrap;
            font-weight: 700;
            text-decoration: none;
            color: #212529;
            animation: text-in 1s cubic-bezier(0.22, 1.07, 1, 1);
            overflow: visible;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro_element {
        &-img {
            margin: auto;
            height: 70vh;
            width: 50vh;
            &-image {
                background-size: cover;
                text-align: center;
                clip-path: polygon(40% 30%, 85% 30%, 55% 90%, 10% 90%);
            }
        }

        &-text {
            margin: auto;
            display: flex;
            align-items: center;
            max-width: 70vh;
            &-p {
                margin-left: 15%;
            }
        }
    }
}

.EdSection {
    padding-left: 30px;
    border-radius: 2px 1rem;
}

#education {
    font-weight: 700;
    &:hover {
        text-decoration: none;
    }
}

.card__box {
    display: flex;
    justify-content: space-evenly;
    &--card {
        flex-wrap: wrap;
        max-width: 30%;
        display: inline-block;
    }
}

.divider {
    border: 2px solid rgba(15, 2, 2, 0.158);
}

@keyframes image-in {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes text-in {
    0% {
        length: 2%;
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        length: 100%;
        transform: translateX(0);
        opacity: 100%;
    }
}
