.container-mod {
  padding: 0; }

.navbar {
  padding-left: 5%;
  padding-right: 4%; }

.entireBody {
  margin-left: 5%;
  margin-right: 4%; }

.exp_button {
  background: linear-gradient(to right, #808080, #d3d3d3d3);
  border-radius: 100px; }
  .exp_button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px; }

.intro_element {
  padding-top: 1.5%;
  display: flex; }
  .intro_element-img-image {
    display: block;
    height: 70vh;
    width: 50vh;
    background-size: cover;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .intro_element-text {
    margin: auto;
    font-weight: 700; }
    .intro_element-text-writing {
      display: block;
      text-decoration: none;
      color: #212529;
      height: 15%;
      transition: all 0.1s; }
      .intro_element-text-writing:hover {
        text-decoration: none;
        text-shadow: #ec4d37 0 1px 10px;
        transform: scale(1.03); }

.EdSection {
  padding-left: 30px;
  border-radius: 2px 1rem; }

#education {
  font-weight: 700; }
  #education:hover {
    text-decoration: none; }

div p {
  color: #974cec; }

.card__box {
  display: flex;
  flex-direction: row; }
  .card__box--card {
    display: inline-block; }

.divider {
  border: 2px solid rgba(15, 2, 2, 0.158); }
