$space-left: 5%;
$space-right: 4%;
$font-color: rgb(151, 76, 236);

.container-mod {
    padding: 0;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}
.exp_button {
    background: linear-gradient(to right, #808080, #d3d3d3d3);
    border-radius: 100px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px;
    }
}

.intro_element {
    overflow: hidden;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    background-color: aquamarine;

    &-img{
        height: 70vh;
        width: 50vh;
        transform: translateY(-20%);
        &-image {
            margin-left: 5%;
            background-size: cover;
            text-align: center;
            clip-path: polygon(40% 30%, 85% 30%, 55% 90%, 10% 90%);
        }
    }

    &-text {
        display: flex;
        align-items: center;
        max-width: 70vh;
        &-p{
            margin-left: 15%;
            display: flex;
            flex-wrap: wrap;
            font-weight: 700;
            text-decoration: none;
            color: #212529;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro_element {
        display: block;
        background-color: white;
        &-img{
            height: 70vh;
            width: 50vh;
            &-image {
                background-size: cover;
                text-align: center;
                clip-path: polygon(40% 30%, 85% 30%, 55% 90%, 10% 90%);
            }
        }
    
        &-text {
            display: flex;
            align-items: center;
            max-width: 70vh;
            &-p{
                margin-left: 15%;
                display: flex;
                flex-wrap: wrap;
                font-weight: 700;
                text-decoration: none;
                color: #212529;
            }
        }
    }
  }

.EdSection {
    padding-left: 30px;
    border-radius: 2px 1rem;
}

#education {
    font-weight: 700;
    &:hover {
        text-decoration: none;
    }
}

.card__box {
    display: flex;
    justify-content: space-evenly;
    &--card {
        flex-wrap: wrap;
        max-width: 30%;
        display: inline-block;
    }
}

.divider{
    border: 2px solid rgba(15, 2, 2, 0.158);
}
