.container-mod {
  padding: 0; }

.navbar {
  padding-left: 5%;
  padding-right: 4%; }

.bearclaw {
  margin-left: 5%; }

.entireBody {
  margin-left: 5%;
  margin-right: 4%; }

.exp_button {
  background: linear-gradient(to right, #808080, #d3d3d3d3);
  border-radius: 100px; }
  .exp_button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px; }

.intro_element {
  position: relative; }
  .intro_element-container {
    display: inline-block; }
    .intro_element-container-image {
      display: block;
      height: 70vh;
      width: 50vh;
      background-size: cover;
      text-align: center;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .intro_element-text {
    position: absolute;
    display: float;
    margin-top: 18%;
    margin-left: 10px; }
