<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Work term reports</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function () {
        $("#navbar").load("wtr_2020.html");
      });
    </script>
  </head>
  <body>
    <div id="navbar" class="container-fluid container-mod sticky-top">
      <nav
        class="navbar container-fluid navbar-expand-lg navbar-light bg-light"
      >
        <div class="container">
          <a class="navbar-brand" href="../index.html">Nadeem Howlader</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="me_navItem collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#intro"
                  >Introduction <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#ccs">What is CCS?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#work">My work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#goals">Goals and Learnings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#takeaways">Takeaways</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#acknowledgement">Acknowledgements</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
  <div class="entireBody container"></div>    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js"></script>
  <footer class="footer-nadeem">
    <div class="footer-container">
      <div>
        &copy; 2020-2021 by Nadeem Howlader
        <img
          class="logo-bd"
          src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
        />
      </div>

      <div>
        <a id="credits" href="credits.html">Credits</a>
      </div>
    </div>
  </footer>
</body>
</html>