<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About me</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <nav
      class="navbar container-fluid navbar-expand-lg navbar-light bg-light fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="../index.html">Nadeem Howlader</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="me_navItem collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_me.html">About me</a>
            </li>
            <li class="nav-item">
              <a
                href="https://github.com/nhowlade"
                target="_blank"
                rel="noopener noreferrer"
                ><img class="logo-git" src="../svg/github.svg"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="entireBody container">
      <div class="heading-element">
        <img class="img-fluid" src="../pictures/136.jpg" />
        <p class="heading-element-text">
          LEARN.<br />CODE.<br />PRACTISE.<br />REPEAT.<br />
        </p>
      </div>
      <div>
        <p class="paragraph">
          Hello I am Nadeem Howlader. I am a web programming enthusiast working
          towards getting my hands on all the amazing web technologies out
          there. I believe with my determination, skill and motivated mindset
          would help me to achieve my dream of becoming a web-developer. Hence,
          I work on myself continuously, learn something new every day and
          continue to grow towards making my vision a reality.
        </p>
        <h2>The Beginning</h2>
        <p class="paragraph">
          I am Bangladeshi by origin and currently pursuing my dream in Canada.
          I have spent my childhood in Bangladesh, where I grew up learning
          about how great computers are. At first, when I was in grade 5, I
          thought all you could do with a computer was play games, but slowly I
          learnt that it was more capable than I could comprehend.<br /><br />Programming
          did not seem appealing to me at first, but slowly looking into it I
          had a complete change of heart. The journey began with me trying to
          implement a custom folder icon to my Windows 7 PC. It was quite
          satisfying, and I envisioned myself being able to control everything
          within a computer. I began to work hard to make my vision a reality.
          Passed my high school with remarkable results and then got accepted to
          the University of Guelph for studying Software Engineering.
        </p>
        <h2>Education</h2>
        <p class="paragraph">
          At 2018, I began my bachelors at the University of Guelph, Canada. I
          am studying Software Engineering(Co-op) under Bachelor of Computing.
          From my keen interest in Mathematics, I chose to pursue a minor in the
          subject alongside my degree. It has been three years I been in the
          University of Guelph and I must say I enjoyed every single day of it
          and look forward to the 2 years I have left to graduate.
        </p>
        <h2>Life In Canada</h2>
        <p class="paragraph">
          I came to Canada with the sole aim to get direction and kickstart my
          career. I have learnt to take up the “good” parts from my work
          experiences and use them to grow as a person. My time as the
          University’s IT Help Centre staff allowed me to completely delve into
          how the corporate work life is and how crucial it is to keep improving
          in your field of expertise.<br /><br />I began to work on small side
          projects to enforce my knowledge on various programming languages and
          frameworks. You can check out my projects
          <a style="text-decoration: none" href="projects.html">here</a>. I
          decided to pursue becoming a web-developer and so far, it has been a
          steady learning curve, but I look forward to learning more about the
          web. So far, HTML, CSS and JavaScript have been great to begin with.
          But as I go into web-protocols, various open-source development
          platforms like Node and framework React and Angular.<br /><br />Apart
          from web-development, I have taken a liking to coding in Java. I have
          even been a TA for an Object-Oriented Programming course in Java at
          the University. I have had my fair share of coding done in C, Python
          and Perl with Git as version control tool on the side.
        </p>
        <h2>Favourite Pastimes</h2>
        <div class="container" style="display: flex; align-items: center; flex-direction: column;">
          <div class="img-container" style="display: flex; align-items: center; flex-direction: column;">
            <img src="../pictures/Snapchat-1743843706.jpg" class="a_me_img" />
            <p class="paragraph" style="font-style: italic">
              Snap from Guelph's Conservatory area at sunrise
            </p>
          </div>
          <p
            class="paragraph"
          >
            I cannot be programming and exhausting myself and hence I look to
            get away from my exhaustion by focussing on photography. It is very
            amusing to be able to capture a moment in camera whenever you want
            to. Sometimes it becomes a way to make concrete memories. If I am at
            my room relaxing, I am probably playing games on my PS4. Console
            gaming has been my favourite for quite some time but playing FPS on
            a rig is another experience. Travelling is another thrilling aspect
            of life and I am always down to explore some new place around me
            (Keeping in mind COVID has now restricted my travelling urges
            lately). Lastly, I am always up for cooking, it is probably one of
            my favorite pastimes and I have always been fond of my desserts.
          </p>
        </div>
       

        <h2>A Message</h2>
        <p class="paragraph">
          I am always grateful to everyone who has been a part of my wonderful
          life. My parents, friends, co-workers and well-wishers are all amazing
          people and I pray to be able to have more memories with them. I
          believe one man can make a difference and that is what should drive me
          to strive and chase my goals.
        </p>
        <p class="paragraph-center">
          “Success is not an activity but a process”
        </p>
      </div>
    </div>
    <footer class="footer-nadeem">
      <div class="footer-container">
        <div>
          &copy; 2020-2021 by Nadeem Howlader
          <img
            class="logo-bd"
            src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
          />
        </div>

        <div>
          <a id="credits" href="credits.html">Credits</a>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
