<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credits</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <nav
      class="navbar container-fluid navbar-expand-lg navbar-light bg-light fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="../index.html">Nadeem Howlader</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="me_navItem collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_me.html">About me</a>
            </li>
            <li class="nav-item">
              <a
                href="https://github.com/nhowlade"
                target="_blank"
                rel="noopener noreferrer"
                ><img class="logo-git" src="../svg/github.svg"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="padding-top: 5%" class="container container-credits">
      <div>
        <p>Bangladesh flag icon by Icons8</p>
        <p>
          Dhaka photo by Niloy Biswas: https://unsplash.com/photos/qIUb3VNmxjI
        </p>
        <p>
          Work from home photo by Domenico Loia: https://unsplash.com/photos/hGV2TfOh0ns
        </p>
        <p>
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </p>
        <p>
          Github icon made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </p>
        <p>CCS ICON: https://twitter.com/uofgccs/photo</p>
        <p>
          Productivity picture:
          <a href="http://www.freepik.com">Designed by Freepik</a>
        </p>
        <p>
          HTML
          <span
            >Photo by
            <a
              href="https://unsplash.com/@grakozy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Greg Rakozy</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/javascript?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </p>
        <p>
          Communication Image by
          <a
            href="https://pixabay.com/users/jmexclusives-10518280/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5187243"
            >Joseph Mucira</a
          >
          from
          <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5187243"
            >Pixabay</a
          >
        </p>
        <p>
          Web conferencing picture
          <a href="http://www.freepik.com"
            >Designed by pikisuperstar / Freepik</a
          >
        </p>
        <p>
          Usability picture
          <a href="http://www.freepik.com">Designed by stories / Freepik</a>
        </p>
        <p>
          Corporate environment picture
          <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
        </p>
        <p>
          Tetris image
          <a href="http://www.freepik.com"
            >Designed by Dukepope.com / Freepik</a
          >
        </p>
        <p>
          Encryption-decryption image
          <a href="http://www.freepik.com"
            >Designed by rawpixel.com / Freepik</a
          >
        </p>
        <p>
          SCCM picture <a href="http://www.freepik.com">Designed by fullvector / Freepik</a>
        </p>
        <p>Documentation picture <a href="http://www.freepik.com">Designed by stories / Freepik</a></p>
        <p>React pictue <a href='https://www.freepik.com/vectors/abstract'>Abstract vector created by vectorjuice - www.freepik.com</a></p>
      </div>
      <img class="img-cred" src="../pictures/award.jpg" />
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <footer class="footer-nadeem">
      <div class="footer-container">
        <div>
          &copy; 2020-2021 by Nadeem Howlader
          <img
            class="logo-bd"
            src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
          />
        </div>
      </div>
    </footer>
  </body>
</html>
