<div class="EdSection">
  <a href="#" id="education">My Education</a>
  <div class="card__box">
    <div class="card__box--card">
      <p>
        Studying Software Engineering at University of Guelph Minor in
        Mathematics, Graduating in 2023
      </p>
    </div>
    <div class="card__box--card">
      <p>
        Completed Highschool in 2017 from Green Dale International School,
        Dhaka, Bangladesh.
      </p>
    </div>
  </div>
</div>

<div class="EdSection">
  <a href="#" id="education">Skills</a>
  <div class="card__box">
    <div class="card__box--card">
      <h5>Programming:</h5>
      <p>Java, C, JavaScript(ES6), HTML, CSS, Sass, Python, Perl</p>
    </div>
    <div class="card__box--card">
      <h5>Back-End / DevOps:</h5>
      <p>Nodejs , Gradle, Make, MongoDB, Git</p>
    </div>
  </div>
</div>
<hr class="divider" />
<div class="side_projects">
  <a href="#" id="experiences">I went outside my home</a>
  <a class="experience_page" href="experiences.html"
    ><button class="exp_button">
      Please click here to view my work term report
    </button></a
  >
</div>
