<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Work term reports</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function () {
        $("#navbar").load("nav.html");
      });
    </script>
  </head>
  <body>
    <div id="navbar" class="container-fluid container-mod sticky-top"></div>
    <div class="entireBody container">
      <div class="wtr-1">
        <img class="img-rp-first" src="../pictures/Sur3.jpg" />
        <p class="first-text-rp-text1">Work Term Report Summer & Fall 2020</p>
      </div>
      <div class="rp-text-1">
        <h2>Introduction</h2>
        <p>
          This is going to be a blog post regarding my first co-op placement at
          the Computing and Communication Services(CCS) at the University of
          Guelph. It has been a wonderful 8 months working at CCS and I hope
          this short blog will provide a vivid picture of what I learnt during
          these months.
        </p>
        <h2>What is CCS?</h2>
        <div class="rp-text-2">
          <p>
            The University of Guelph’s Computing and Communication Services is
            also referred to as “CCS”. They provides core IT services to the
            greater campus community. CCS undertook many projects that are
            intended to improve life on campus, aid the launch of new and
            innovative collaboration tools, and continuously monitors the
            cyber-security.<br /><br />
            Their services include not only network connectivity, information
            security, software distribution but they also help to fulfill the
            additional technical needs for various departments across campus.
            One of the purposes of CCS that really got my attention is to
            improve the quality of lives by enabling our community with
            technology. This got me really excited as giving back to the
            community is something that I always look forward to.
          </p>
          <img class="img-rp-second" src="../pictures/CCS_logo.png" />
        </div>
        <h2>My work at CCS</h2>
        <p>
          I was more on the front-line support group for the CCS, where everyday
          we would have to help clients with their daily IT troubles. I was
          appointed as a Student IT Consultant at CCS. Being on the front-line
          taught me a lot of things on the job but most of all, it provided me
          with the insight to solve real-life problems efficiently and make
          others life easier by educating them about the right way to use a
          certain tech. But amidst
        </p>
        <p class="rp-text-italics">COVID-19</p>
        <p>
          , the situation was a little different.<br /><br />For my work term,
          we were approved to start working from home. Working from home meant
          to be consciously responsible for the work that was being handed out
          to us and timely submitting them back, but then again being able to
          work in the comfort of your porch was a completely different
          experience. We were a team of four coop students working remotely
          during Summer 2020. As the summer semester kicked off, we were helping
          both students and faculty with the transition to online learning. It
          was a challenge, but we handled the situation pretty nicely I must
          say.<br /><br />As part of the job description, I was expected to work
          with different operating systems, and I am glad to have worked with a
          couple of them beforehand. During my 2 years at the University, I
          learnt to work with Linux, Windows and MAC operating systems. Working
          with the Microsoft Office suite was a very common thing at the IT help
          desk and so having experience with was proved beneficial. We were also
          required to do some network troubleshooting especially Wi-Fi, this was
          something that I later on picked up while being in the job. Most
          importantly the job expected us co-ops to keep an open mind and use
          every opportunity to learn and grow with the values of CCS.
        </p>
        <h2>Work Term S20</h2>
        <h3>Goals and learnings</h3>
        <h2>Master multi-tasking to maintain productivity</h2>
        <p>
          Going into my first Co-op term, I wanted to be able to provide the
          best service I could to my employer. Working full-time provided me
          with lots of responsibilities and eventually I realised that it would
          best if I be able to multi-task. There would be times when I would
          have to search up multiple places to figure out the solution to a
          client’s issue. Moreover, if I feel resorting to multi-tasking was
          helped to maintain my productivity when working with clients,
          redesigning websites and making documentation to help others in the
          team.
        </p>
        <h2>Gain expertise over HTML, CSS and JavaScript</h2>
        <p>
          Since summer was fairly quiet at the University, our department
          decided to update some of the webpages. I already had a fair bit of
          interest in this project and so I got pretty excited on it. Going into
          the project I had minimum knowledge about HTML and hence I decided to
          dive more into this. I decided to research into HTML and CSS and used
          that knowledge to build my website. At the same time, I progressed a
          lot into redesigning some pages for the CCS. Refactoring HTML code,
          updating screenshots at certain pages and even updating information on
          some pages were some core responsibilities me and my team were
          assigned to complete. For my personal website, I was working with a
          friend as he was redesigning his website. Both of us collaborated to
          learn SASS and Bootstrap, which we later implemented in our websites.
        </p>
        <h2>Working towards achieving good communication skills</h2>
        <p>
          Communication is a key skill in our day-to-day life. Being able to
          convey our thoughts to others makes our life quite easier. In my line
          of work, when clients used to be on a call and ask for help, it would
          be upon us to use the best possible methods to make them understand
          how to troubleshoot their issue. I volunteered to go more on calls
          with clients which helped me polish my communication skills. I also
          actively participated in meetings with the team and that helped me to
          be able to openly communicate with each other. Building healthy
          relationships with your coworkers is a blessing and having good
          communication skills definitely helps the process.
        </p>
        <h2>Work Term F20</h2>
        <h3>Goals and learnings</h3>
        <h2>Learning to use various web conferencing tools</h2>
        <p>
          For both students and staff collaboration and continuous communication
          was key to get through the “online” semester. Hence web-conferencing
          tools proved to be the right tools to make communication easier and
          enhance teamwork. Meetings were being held via teams, online pols used
          to get staffs’ opinion on certain matter and a public group chat to
          make sure everyone in a team was on the same page.<br /><br />While
          trying to troubleshoot through issues on these tools, I have come to
          realise that I have become quite comfortable using them. I feel like
          this would be an asset down the line as we move further towards 2021.
          I kept learning further by attempting to resolve more tickets
          regarding web-conferencing tools.<br /><br />
        </p>
        <h2>Usability testing new websites and software</h2>
        <p>
          A website when in its initial state can have a lot of issues to be
          honest and when a website is being used by a big organization, it is
          ideal to have almost everything on the website to be working as it
          should. Since most of our team members were Co-op students, we were
          able to provide our own, different views about the websites. When
          looking at websites, we focussed mostly on how the information should
          be put to catch the viewer’s attention and how to make it more the
          site more intuitive.<br /><br />We have had little software testing
          done during my Fall Co-op term. This included running certain software
          on my machine and documenting the different behaviours I was exposed
          to when using the software. Documentation was pretty brief with steps
          I had taken leading to a certain behaviour and later a summary of how
          it affected the usability of the software. Usability testing is pretty
          important as they help to further enhance the user’s experience.<br /><br />
        </p>
        <h2>Adapting to corporate workplace culture</h2>
        <p>
          Being part of CCS has got me a lot closer to the corporate workplace
          culture during my stay in Canada. To me every workplace has a
          different culture it adheres to and it is always expected by employers
          that we maintain these cultures. In my time within CCS, I have
          experienced the ways our teams coordinate to do certain tasks and how
          learning these was crucial.<br /><br />Learning to adapt a workplace’s
          culture not only benefits us during our tenure at the workplace, but
          it keeps a long-lasting effect on us. These values help to improve
          oneself professionally and later these may help me get comfortable
          with various workplaces and be able to maintain good comradery among
          all the places I become a part of.<br /><br />
        </p>
        <h2>Acknowledgement</h2>
        <p>
          I am very delighted to say that over the last couple of months I have
          been in “presence” of a lot of amazing people.<br /><br />Firstly, I
          would like to extend my thanks to my Supervisor Jill Hogg for her
          continuous support and guidance throughout my work-terms. The folks at
          the helpdesk namely, Aleshia, Etta and Haniya also deserve my deepest
          gratitude as they helped make my transition to the work life a lot
          easier. Lastly, I wish to thank my fellow team members: Will Hawkins,
          Jaspreet Lall and Adam Sheere-Paulicipulle. Each of them supported me
          throughout the last few months and I wish them all best in their
          future endeavours.<br /><br />To my Manager Brian Thomson, it was an
          amazing experience to learn about the core values of CCS from you and
          I wish to keep them in my heart always.<br /><br />
          To Laura Gatto and Kate McRoberts, I am thankful to have been under
          your supervision while securing my co-op.<br /><br />Lastly, I would
          like to thank my parents, siblings and friends for their continuous
          support throughout my journey and I shall continue to work hard and
          make them proud of me.
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <footer class="footer-nadeem">
      <div class="footer-container">
        <div>
          &copy; 2020-2021 by Nadeem Howlader
          <img
            class="logo-bd"
            src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
          />
        </div>

        <div>
          <a id="acknowledgements" href="#acknowledgements"
            >Acknowledgements ||</a
          >
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
