<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Work term reports</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function () {
        $("#navbar").load("nav.html");
      });
    </script>
  </head>
  <body>
    <div id="navbar" class="container-fluid container-mod sticky-top"></div>
    <div class="entireBody container">
      <div class="wtr-1">
        <img class="img-rp-first" src="../pictures/Sur3.jpg">
        <p class="first-text-rp-text1">Work Term Report Summer & Fall 2020</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <footer class="footer-nadeem footer-nadeem-rp">
      <div class="footer-container">
        <div>
          &copy; 2020-2021 by Nadeem Howlader
          <img
            class="logo-bd"
            src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
          />
        </div>

        <div>
          <a id="acknowledgements" href="#acknowledgements"
            >Acknowledgements ||</a
          >
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
