<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Work term reports</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon_io/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function () {
        $("#navbar").load("nav.html");
      });
    </script>
  </head>
  <body>
    <div id="navbar" class="container-fluid container-mod sticky-top"></div>
    <div class="entireBody container">
      <div class="wtr-1">
        <img class="img-rp-first" src="../pictures/Sur3.jpg" />
        <p class="first-text-rp-text1">Work Term Report Summer & Fall 2020</p>
      </div>
      <div class="rp-text-1">
        <h2>Introduction</h2>
        <p>
          This is going to be a blog post regarding my first co-op placement at
          the Computing and Communication Services(CCS) at the University of
          Guelph. It has been a wonderful 8 months working at CCS and I hope
          this short blog will provide a vivid picture of what I learnt during
          these months.
        </p>
        <h2>What is CCS?</h2>
        <div class="rp-text-2">
          <p>
            The University of Guelph’s Computing and Communication Services is
            also referred to as “CCS”. They provides core IT services to the
            greater campus community. CCS undertook many projects that are
            intended to improve life on campus, aid the launch of new and
            innovative collaboration tools, and continuously monitors the
            cyber-security.<br /><br />
            Their services include not only network connectivity, information
            security, software distribution but they also help to fulfill the
            additional technical needs for various departments across campus.
            One of the purposes of CCS that really got my attention is to
            improve the quality of lives by enabling our community with
            technology. This got me really excited as giving back to the
            community is something that I always look forward to.
          </p>
          <img class="img-rp-second" src="../pictures/CCS_logo.png" />
        </div>
        <h2>My work at CCS</h2>
        <p>
          I was more on the front-line support group for the CCS, where everyday
          we would have to help clients with their daily IT troubles. I was
          appointed as a Student IT Consultant at CCS. Being on the front-line
          taught me a lot of things on the job but most of all, it provided me
          with the insight to solve real-life problems efficiently and make
          others life easier by educating them about the right way to use a
          certain tech. But amidst
        </p>
        <p class="rp-text-italics">COVID-19</p>
        <p>
          , the situation was a little different.<br /><br />For my work term,
          we were approved to start working from home. Working from home meant
          to be consciously responsible for the work that was being handed out
          to us and timely submitting them back, but then again being able to
          work in the comfort of your porch was a completely different
          experience. We were a team of four coop students working remotely
          during Summer 2020. As the summer semester kicked off, we were helping
          both students and faculty with the transition to online learning. It
          was a challenge, but we handled the situation pretty nicely I must
          say.<br /><br />As part of the job description, I was expected to work
          with different operating systems and I am glad to have worked with a
          couple of them beforehand.
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <footer class="footer-nadeem">
      <div class="footer-container">
        <div>
          &copy; 2020-2021 by Nadeem Howlader
          <img
            class="logo-bd"
            src="https://img.icons8.com/emoji/48/000000/bangladesh-emoji.png"
          />
        </div>

        <div>
          <a id="acknowledgements" href="#acknowledgements"
            >Acknowledgements ||</a
          >
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
